{% extends '/security/login.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}
    <img class="wave" src="{{ asset('img/wave.png') }}">
    <div class="container">
        <div class="img">
            <img src="{{ asset('img/bg.svg') }}">
        </div>
        <div class="login-content">
    <form class="form-login" method="post">

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <img src="{{ asset('img/logoconnect.png') }}">

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
                {{ form_row(registrationForm.Username, {'attr': {'class': 'input', 'placeholder': 'Username'}}) }}
        </div>

        <div class="input-div one">
            <div class="i">
                <i class="fas fa-envelope"></i>
            </div>
            
                {{ form_row(registrationForm.Email, {'attr': {'class': 'input', 'placeholder': 'Email'}}) }}
        </div>

        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'input', 'placeholder': 'Password'}}) }}
        </div>
        <a href="{{ path('app_login') }}">Already have an account ?</a>
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
        {{ form_end(registrationForm) }}
    </form>
</div>

    </div>
{% endblock %}

